@app_wrapper_background: #ffffff;
@app_wrapper_backgroundAccent: #ededed;

@app_header_background: #ffffff;
@app_header_height: 58px;

@app_colorAccent: #454545;

@app_menuItemSize: 100px;
@app_menuItemIconSize: 30px;
@app_menuItemTextSize: 12px;

.ant-layout-sider-children{
    margin-top: @app_header_height!important;
}

// app_

.app_layout{
    background-color: @app_wrapper_background;
    max-height: 100vh;
}

.app_header {
    background-color: @app_header_background!important;
    height: @app_header_height;
    border-bottom: 1px @app_wrapper_backgroundAccent solid;

    transition: all ease-in-out 150ms;

    display: flex;
    flex-direction: row;

    align-items: center;
    z-index: 100;

    height: @app_header_height;
    padding: 0 16px;

    > div {
        margin: 0 16px;
    }

    &.hidden{
        height: 0;
        padding: 0;
    }
}

.app_wrapper {
    margin: 0 16px;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.app_footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;

    background-color: #fff;
    padding: 5px 25px;
    font-size: 10px;

    height: fit-content;
    width: 100%;
}

.app_searchBar {
    color: @app_colorAccent!important;
    border: 0!important;
    width: 40%!important;
    border-radius: 7px!important;

    .ant-input {
        background-color: @app_wrapper_backgroundAccent!important;
        color: @app_colorAccent!important;
        border: 0!important;
    }

    .ant-input-group{
        display: flex;
    }
    
    .ant-btn {
        background-color: transparent!important;
        border: 0!important;
    }
}

// Menus & Index's

.app_login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

