.workload_payloadItem {
	cursor: pointer;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 7px !important;

	border-radius: 5px;
	margin-bottom: 5px;

    background-color: var(--background-color-primary);
	//border: 1px solid var(--background-color-contrast);
	
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	.data {
		display: flex;
		flex-direction: column;
		justify-items: flex-start;

		width: 100%;

		.header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.title {
				width: 100%;

				display: flex;

				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				h1,
				h2 {
					word-break: break-all;
					overflow: hidden;
					margin: 0;
				}

				> div {
					margin-right: 5px;
				}
			}

			.description {
				color: var(--background-color-contrast);
			}
		}

		.variants {
			--ignore-dragger: true;

			display: inline-flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;

			width: 100%;

			border-top: 1px solid var(--background-color-accent);
			padding-top: 5px;
		}

		> div {
			margin-bottom: 5px;
		}
	}

	.ant-list-item-meta-title {
		font-size: 20px;
		height: fit-content;
	}

	.quantity {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		background-color: var(--primaryColor);
		color: var(--background-color-primary);

		border-radius: 24px;
		min-width: 24px;
		height: 24px;

		padding: 5px;
	}

	&.reached {
		background-color: var(--background-color-accent);

		filter: contrast(0.8);

		.ant-list-item-meta-title {
			color: var(--background-color-contrast);
		}

		.quantity {
			background-color: var(--background-color-contrast);
			color: var(--background-color-accent);
		}
	}
}
