.fabric_manager {
    display: flex;
    flex-direction: column;
    
    > div {
        margin-bottom: 12px;
    }

    .item {
        .title {
            display: flex;
            flex-direction: column;

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
            }

            h1 {
                font-size: 25px;
                margin: 0;
            }
            h4 {
                margin: 0;
            }
        }
        
    }
}

.typeSelector{
    min-width: 200px;

    .ant-select-selector{
        display: inline-flex;
    }

    .ant-select-selection-overflow {
        display: inline-flex;
        flex-wrap: nowrap;
    }
}
