.sections_list {
	> div {
		margin-bottom: 10px;
	}
}

.creator_modal {
	display: flex;
	flex-direction: column;

	svg {
		height: 100% !important;
		margin: 0 8px 0 0;
		line-height: 0;
		padding: 0;
	}

	> div {
		margin-bottom: 10px;
		h4 {
			display: flex;
			align-items: center;
		}
		> div {
			margin-left: 15px;
		}
	}
}