.regions_list {
	> div {
		margin-bottom: 10px;
	}
}

.region_card {
	cursor: pointer;

	display: flex;
	align-items: center;

	background-color: #ededed;
	border-radius: 8px;
	padding: 10px 25px;

	transition: all 150ms ease-in-out;

	h1 {
		font-size: 22px;
		margin: 0;
	}
}

.region_card:hover {
	background-color: #f5f5f5;
}

.create_new {
	position: sticky;
	bottom: 0;
	left: 0;

	width: 100px;
	height: 20px;
	background: red;
}

.creator_modal {
	display: flex;
	flex-direction: column;

	svg {
		height: 100% !important;
		margin: 0 8px 0 0;
		line-height: 0;
		padding: 0;
	}

	> div {
		margin-bottom: 10px;
		h4 {
			display: flex;
			align-items: center;
		}
		> div {
			margin-left: 15px;
		}
	}
}
