.worker {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;

	padding: 10px;
	background-color: var(--background-color-primary);
	border-radius: 8px;
	margin-bottom: 10px;

	> div {
		width:fit-content;

		margin-right: 10px;
	}
}

.payload_inspector {
	h1,
	h2,
	h3,
	p {
		margin: 0;
	}

	.header {
		h3 {
			color: var(--background-color-contrast);
			font-family: "DM Mono", monospace;
		}

		.images {
			--ignore-dragger: true;

			img {
				border-radius: 8px;
				--ignore-dragger: true;
			}
		}

		margin-bottom: 5px;
	}

	.float {
		display: flex;
		flex-direction: column;

		position: sticky;
		bottom: 0;
		width: 100%;
		padding: 20px 10px 0 10px;

		border-radius: 10px;
		background-color: #00000033;

		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);

		> div {
			margin-bottom: 20px;
		}
	}

	.card {
		display: flex;
		flex-direction: column;

		background-color: var(--background-color-accent);
		border-radius: 8px;
		padding: 10px;

		.content {
			display: flex;
			flex-direction: column;

			align-items: center;
			justify-content: center;
		}

		&.primary {
			background-color: var(--background-color-primary);
		}

		> div {
			margin-bottom: 10px;
		}
	}

	.property {
		height: fit-content;

		display: flex;
		flex-direction: column;
		padding: 5px;

		.value {
			display: inline-flex;
			flex-wrap: wrap;

			justify-content: space-between;
			justify-self: center;

			width: fit-content;

			padding-left: 20px;

			color: var(--background-color-contrast);
		}
	}

	.production {
		h3 {
			font-size: 20px;
		}

		.counter {
			display: flex;
			flex-direction: row;
			align-items: center;

			width: fit-content;

			font-family: "DM Mono", monospace;

			> div {
				font-size: 18px;
				margin: 0 5px;
			}

			:first-child {
				color: var(--background-color-contrast);
			}

			.completed {
				color: var(--primaryColor);
			}
		}
	}

	.assistant {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.controls {
			display: inline-flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			width: 100%;

			//transition: all 150ms ease-in-out;

			.holdButton {
				outline: none;
				border: 0;

				background: linear-gradient(to left, var(--primaryColor) 50%, white 50.9%) right;
				background-size: 200%;
				transition: 100ms ease-out;
				color: var(--background-color-accent);

				&.disabled {
					background: var(--background-color-primary)!important;
					color: var(--background-color-accent)!important;
				}
				&.holding {
					color: var(--background-color-contrast);
					background-position: left;

					&.duration500 {
						transition: 500ms ease-out;
					}

					&.duration1000 {
						transition: 1000ms ease-out;
					}
				}
			}

			> div {
				margin-bottom: 10px;
				
				button {
					--ignore-dragger: true;
					padding: 3vw;
				}
			}

			&.running {
				flex-direction: row;
			}
		}
	}

	> div {
		margin-bottom: 20px;
	}
}
