.users_list {
	display: flex;
	flex-direction: column;

	> div {
		margin-bottom: 20px;
	}

	.selectableList_item {
		padding: 0;
	}
}

.user_item {
	display: flex;
	flex-direction: column;

	width: 100%;

	.title {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		
		width: 100%;
	
		margin-bottom: 10px;

		h1 {
			cursor: text;
			margin: 0;
			font-size: 16px;
		}

		h3 {
			font-family: "Roboto Mono", monospace !important;
			color: var(--background-color-contrast);
			cursor: text;
			margin: 0;
			font-size: 13px;
		}
	
		> div {
			margin-right: 10px;
		}
	}
}