.users_list {
	display: flex;
	flex-direction: column;

	> div {
		margin-bottom: 20px;
	}

	.selectableList_item {
		padding: 0;
	}
}

.user_item {
	display: flex;
	flex-direction: row;

	width: 100%;

	> div {
		margin: 7px;
	}

	.title {
		width: 100%;
		display: flex;
	
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	
		h1 {
			cursor: text;
			margin: 0;
			font-size: 16px;
		}

		h3 {
			font-family: "Roboto Mono", monospace !important;
			cursor: text;
			margin: 0;
			font-size: 13px;
		}
	
		.line {
			display: flex;
			flex-direction: row;
			align-items: center;
			
			> div {
				margin-right: 8px;
			}
		}
	}
}