.workload_details {
	.header {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		h1 {
			word-break: break-all;
			margin: 0;
		}

		.content {
			width: 100%;
		}

		.matrix {
			cursor: pointer;
			transition: all 150ms ease-in-out;
			width: fit-content;
			height: fit-content;

			align-self: center;
			justify-self: center;

			img {
				width: 120px;
				height: 120px;
			}
		}

		.matrix:hover {
			filter: contrast(0.3);
		}
	}

	.info {
		display: flex;
		flex-direction: column;

		> div {
			display: flex;
			flex-direction: row;

			align-items: center;
			justify-content: space-between;

			background-color: var(--background-color-accent);
			margin: 3px 0;
			padding: 5px;
			border-radius: 2px;

			.name {
				font-size: 15px;
			}

			.value {
				font-size: 14px;
				color: var(--background-color-contrast);
				font-family: "DM Mono", monospace;
			}
		}
	}

	.payloads {
		h1 {
			margin: 0 0 5px 0;
		}

		.header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	> div {
		margin-bottom: 10px;
	}
}
