.fabric_inspector {
    h1, h2, h3, p {
        margin: 0;
    }
    
    .header {
        h3 {
            color: var(--background-color-contrast);
        }

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        margin-bottom: 5px;
    }
    
    .quantity {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		background-color: var(--primaryColor);
        color: var(--background-color-primary);

		border-radius: 24px;
		min-width: 24px;
		height: 24px;
		
		padding: 5px;
	}
    
    .properties {
        background-color: var(--background-color-accent);
        border-radius: 20px;
        padding: 10px 10px;

        .property {
            height: fit-content;

            display: flex;
            flex-direction: column;
            padding: 5px 10px;

            .value {
                display: flex;
                justify-content: space-between;
                justify-self: center;
                width: fit-content;

                padding-left: 20px;

                color: var(--background-color-contrast);
            }
        }
    }
    
    .actions {
        position: sticky;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}